@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-0: hsl(209, 34%, 5%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-grey-11: hsl(210, 31%, 83%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
  =============== 
  Navbar
  ===============
  */
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--clr-grey-9);
  height: 73px;
}
.nav-header {
  position: absolute;
  left: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  margin-right: 10px;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.initial-container {
  max-width: 1170px;
  margin: 0 auto;
  position: absolute;
  left: 110px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
.second-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 20px;
  align-items: right;
  justify-content: space-between;
  padding: 1px;
}
.logo {
  height: 50px;
  width: 70px;
  border-radius: 50%;
}
.findSomething {
  border-radius: 10px;
  color: var(--clr-grey-0);
  position: absolute;
  left: 550px;
  font-family: "FontAwesome";
  font-weight: normal;
  height: 40px;
  width: 250px;
  padding: 10px;
  font-size: 1rem;
  margin: 20px 0;
}
.notification {
  position: relative;
  display: none;
}
.notBtn {
  width: 50px;
  height: 50px;
}
.notification-bell {
  font-size: 25pt;
  padding-bottom: 7px;
  color: white;
  margin-right: 25px;
  margin-left: 40px;
  justify-content: right;
  align-items: right;
  float: right;
}
.notification-bell:hover {
  color: black;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 5px;
}

.box::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.box::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}
.avatar {
  vertical-align: middle;
  horizontal-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  display: none;
}
.links a {
  color: var(--clr-grey-4);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: inline-block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-9);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  justify-content: space-between;
  letter-spacing: var(--spacing);
  margin-right: 30px;
}
.number {
  position: relative;
  top: 0;
  right: 0;
  float: right;
}

.setting-list {
  position: absolute;
  display: none;

  right: 0px;
  top: 70px;

  width: 100px;
  height: 120px;

  background: var(--clr-grey-10);

  border: var(--clr-grey-9) solid 3px;
  border-radius: 10px;
}

.view-profile {
  position: absolute;
  display: block;
  right: 5px;
  height: 20px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  background: var(--clr-grey-10);
  border: hidden;
}

.view-setting {
  position: absolute;
  display: block;
  right: 5px;
  height: 20px;
  top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  background: var(--clr-grey-10);
  border: hidden;
}

.view-account {
  position: absolute;
  display: block;
  right: 5px;
  height: 20px;
  top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  background: var(--clr-grey-10);
  border: hidden;
}

.view-help {
  position: absolute;
  display: block;
  right: 5px;
  height: 20px;
  top: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;

  background: var(--clr-grey-10);
  border: hidden;
}

.logout-button {
  position: absolute;
  display: block;
  right: 5px;
  height: 20px;
  top: 90px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;

  background: var(--clr-grey-10);
  border: hidden;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    height: 73px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .findSomething {
    display: flex;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    margin: 10px auto;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .avatar {
    display: flex;
  }
  .notification {
    display: flex;
  }
}

.creator-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background: var(--clr-grey-11);
  height: 73px;
}

.creator-header {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 700px;
}

.utils-list {
  position: absolute;
  left: 80px;
  top: 0px;
  width: 450px;
  height: 45px;
}

.utils-list a {
  color: white;
  font-size: 23px;

  align-items: center;
  justify-content: center;
  display: block;
  float: left;

  padding: 12px 10px;

  transition: var(--transition);
}

.utils-list a:hover {
  color: black;
}

.creator-center {
  position: absolute;
  left: 560px;
  top: 20px;
  width: 400px;
  background: var(--clr-primary-7);
  border: hidden 0px var(--clr-primary-7);
}

.script-name {
  background: var(--clr-grey-11);
  border: hidden 0px var(--clr-primary-7);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 400px;
  outline: none;
  color: white;
}

.creator-footer {
  position: absolute;
  top: 15px;
  right: 30px;
}

.save {
  position: absolute;
  width: 83px;
  height: 30px;
  right: 30px;
  top: 9px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #999999;
  background: #ffffff;
  border: hidden #ffffff;
  border-radius: 5px;
}

.cancel {
  position: absolute;
  width: 83px;
  height: 29px;
  right: 120px;
  top: 8px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: white;
  background: var(--clr-grey-11);
  border: hidden var(--clr-grey-11);
}
