html,
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.category-background {
  position: absolute;
  width: 811px;
  height: 73px;
  left: 380px;
  top: 102px;

  background: var(--clr-grey-10);
  border-radius: 5px;
}

.category {
  position: absolute;
  width: 750px;
  left: 30px;
  top: 10px;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--clr-grey-10);
  border-color: hidden 0px var(--clr-grey-10);
}

.category button {
  float: left;
  background: var(--clr-grey-10);
  border-style: hidden;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 10px;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

.category button:hover {
  color: grey;
}

.story-list {
  position: absolute;
  left: 120px;
  top: 210px;
}

.story-list li {
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  width: 1300px;
  height: 138px;

  background: #ffffff;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  border-radius: 10px;
}

.story-picture {
  left: 25px;
  top: 17px;
  width: 80px;
  height: 74px;
  position: absolute;

  background: #c4c4c4;
  border-radius: 3px;
}

.story-title {
  position: absolute;
  width: 230px;
  height: 18px;
  left: 142px;
  top: 19px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.story-info {
  position: absolute;
  width: 1030px;
  height: 83px;
  left: 141px;
  top: 46px;
}

.book-open-box {
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 1px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.book-open-vector {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1.5px;
  top: 1.5px;
}

.view-count-box {
  position: absolute;
  width: 149px;
  height: 19px;
  left: 20px;
  top: 0px;
}

.view-count {
  color: #999999;
  position: absolute;
  width: 149px;
  height: 19px;
  left: 0px;
  top: 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.tag-box {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 149px;
  top: 0px;
}

.tag-vector {
  position: absolute;
  width: 17px;
  height: 17px;
}

.type-tag-box {
  position: absolute;
  width: 149px;
  height: 20px;
  left: 169px;
  top: 0px;
}

.type-tag {
  position: absolute;
  width: 149px;
  height: 20px;
  left: 0px;
  top: 0px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #999999;
}

.story-1-description {
  position: absolute;
  width: 1030px;
  height: 59px;
  left: 0px;
  top: 24px;
}

.desctiption {
  position: absolute;
  width: 149px;
  height: 20px;
  left: 1px;
  top: 0px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #676767;
}
.description-detail {
  position: absolute;
  width: 1030px;
  height: 31px;
  left: 0px;
  top: 28px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #999999;
}
.star-box {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1200px;
  top: 23px;
}
.star-vector {
  width: 22px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
}
.rating {
  color: rgba(0, 0, 0, 1);
  width: 46px;
  height: 22px;
  position: absolute;
  left: 1230px;
  top: 18px;

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #000000;
}

.read-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 12px;

  position: absolute;
  width: 82px;
  height: 28px;
  left: 1200px;
  top: 55px;
  background: #106bef;

  border: #106bef;
  border-radius: 20px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

.add-to-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 12px;

  position: absolute;
  width: 82px;
  height: 28px;
  left: 1200px;
  top: 90px;
  background: #8cbae8;

  border: #8cbae8;

  border-radius: 20px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}
